.educationContainer {
    background-image: linear-gradient(
        90deg,
        var(--text-primary),
        var(--text-interactive)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-bottom: calc(var(--header-height) + 5px);
}
.schoolName {
    font-size: 2rem;
}
.degree {
    font-size: 1rem;
}
.time {
    font-size: 1rem;
}
.projectTitle {
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
}
.projectDescription {
    font-size: 1rem;
}
.projects > #projectsHeader {
    margin: 1.2rem 0;
    font-size: 1.2rem;
}
.educationCard {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            90deg,
            var(--bg-color),
            var(--text-primary),
            var(--text-interactive),
            var(--bg-color)
        )
        100% 1;
}
.project {
    height: clamp(100px, max-content, 200px);
    overflow-y: auto;
}
