.homePageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.avatar {
    width: 40%;
}
.avatar > img {
    width: 100%;
    min-width: 350px;
    aspect-ratio: 1;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    box-shadow: 14.142px -14.142px var(--text-interactive);
    /* animation: moveBgBubbles 3s cubic-bezier(0, 1.48, 1, 1.4) infinite alternate; */
    animation: moveBgBubbles 3s linear infinite alternate;
}

@keyframes moveBgBubbles {
    0% {
        box-shadow: 0px 0px var(--text-interactive);
    }
    1% {
        box-shadow: 2px -2px var(--text-interactive);
    }
    2% {
        box-shadow: 5px -5px var(--text-interactive);
    }
    3% {
        box-shadow: 8px -8px var(--text-interactive);
    }
    4% {
        box-shadow: 11px -11px var(--text-interactive);
    }
    5% {
        box-shadow: 14.142px -14.142px var(--text-interactive);
    }
    25% {
        box-shadow: 0px -20px var(--text-interactive);
    }
    45% {
        box-shadow: -14.142px -14.142px var(--text-interactive);
    }
    46% {
        box-shadow: -11px -11px var(--text-interactive);
    }
    47% {
        box-shadow: -8px -8px var(--text-interactive);
    }
    48% {
        box-shadow: -5px -5px var(--text-interactive);
    }
    49% {
        box-shadow: -2px -2px var(--text-interactive);
    }
    50% {
        box-shadow: 0px 0px var(--text-interactive);
    }
    51% {
        box-shadow: -2px -2px var(--text-interactive);
    }
    52% {
        box-shadow: 5px 5px var(--text-interactive);
    }
    53% {
        box-shadow: 8px 8px var(--text-interactive);
    }
    54% {
        box-shadow: 11px 11px var(--text-interactive);
    }
    55% {
        box-shadow: 14.142px 14.142px var(--text-primary);
    }
    95% {
        box-shadow: -14.142px 14.142px var(--text-interactive);
    }
    96% {
        box-shadow: 11px 11px var(--text-interactive);
    }
    97% {
        box-shadow: -8px 8px var(--text-interactive);
    }
    98% {
        box-shadow: -5px 5px var(--text-interactive);
    }
    99% {
        box-shadow: -2px 2px var(--text-interactive);
    }
    100% {
        box-shadow: 0px 0px var(--text-primary);
    }
}

.homePageContent {
    font-size: 2rem;
    color: var(--text-primary);
}

@media only screen and (max-width: 768px) {
    .homePageContainer {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar > img {
        width: 75%;
    }
    .homePageContent {
        width: 100%;
        text-align: center;
    }
}
