nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: fit-content;
    position: fixed;
    top: 0;
    color: var(--text-primary);
    gap: 10rem;
}

.site-title {
    font-family: 'Fira Mono', monospace;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    width: 12ch;
    animation: typing 2s steps(12), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.nav-list {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.nav-list-item {
    list-style: none;
}

.link {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-secondary);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.link:hover,
.link:focus {
    color: var(--text-primary);
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    nav > .nav-list {
        margin: 0;
        padding: 0;
    }
    .nav-list {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
    }
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        padding: 0;
        margin: 0;
        gap: 2rem;
    }
    .site-title {
        animation: none;
        border-right: none;
        width: 100%;
        text-align: center;
    }
    .link {
        animation: none;
        opacity: 1;
    }
    .nav-list-item {
        display: block;
        height: 100%;
        width: 80%;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 2rem;
    }
}
