.headerText {
  font-size: 30pt;
  padding-left: 10pt;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.header:hover > .navbar {
  width: 1000px;
}

.header:hover > .navbar > .link {
  opacity: 1;
}

.header::after {
  padding-bottom: 50px;
}

.navbar {
  width: 50px;
  border-top-left-radius: 12pt;
  border-bottom-left-radius: 12pt;
  height: 25pt;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: width 0.7s ease-in;
}

.navbar > .link {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.link {
  color: white;
  font-size: 15pt;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  font-style: italic;
}
