.container {
    margin-top: calc(var(--header-height) + 5px);
    height: calc(100vh - (var(--header-height) + 5px));
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 0;
        margin-bottom: calc(var(--header-height) + 5px);
    }
}
