:root {
    --bg-color: #334a51;
    --text-primary: #d0ace1;
    --text-secondary: #9978aa;
    --text-emphasis: #96afb8;
    --text-interactive: #62c6e1;
}
body {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 200;
    padding: 0;
    margin: 0;
    background: var(--bg-color);
}
